@font-face {
    font-family: 'Open Sans';
    src:url('fonts/OpenSans-Regular.ttf')
}

@font-face {
    font-family: 'Open Sans';
    src:url('fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
}