$color-white: #fff;
$color-black: #000;
$color-light-gray: #E0EBEE;
$color-dark-gray: #002a2a;

$color-x-light-blue: #CFECF5;
$color-light-blue: #6BB1C5;
$color-medium-blue: #267E97;
$color-dark-blue: #065369;
$color-x-dark-blue: #012D39;

$color-dark-brown: #8c7b67;
$color-light-brown: #b09679;
$color-x-light-brown: #D3BEA7;

$color-orange: #FBC26A;

$grid-gutter-width: 1rem;