.jump {
	animation: jump 1.5s infinite ease;
}

.coin {
	margin: 0px auto 2.5rem;
	position: relative;
	height: 150px;
	width: 150px;
}

.coin .front {
	position: absolute;
	height: 150px;
	width: 150px;
	background: #ffbd0b;
	border-radius: 50%;
	border-top: 7px solid #ffd84c;
	border-left: 7px solid #ffd84c;
	border-right: 7px solid #d57e08;
	border-bottom: 7px solid #d57e08;
	transform: rotate(44deg);
}

.coin .front:before {
	content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 70px;
	height: 70px;
	background: #f0a608;
	border-radius: 50%;
	border-bottom: 5px solid #ffd84c;
	border-right: 5px solid #ffd84c;
	border-left: 5px solid #d57e08;
	border-top: 5px solid #d57e08;
	z-index: 2;
}

.coin .front .currency, .coin .back .currency {
  transform: rotate(-44deg);
	overflow: hidden;
  position: absolute;
  top: -5px;
  left: 56px;
	color: #ffbd0b;
	font-size: 40px;
	line-height: 3.6;
	text-align: center;
	text-shadow: 0 3px 0 #cb7407;
	z-index: 3;
}